[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
anchor_project = "7caxL1ckrUPM1bPydPDf4aoqyNv49dhNa8G1ZnKFPg37"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/phantomWallet.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
